.left-feed-profile-container {
  /* max-width: 225px; */
  flex: 0.4;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 800px) {
  .left-feed-profile-container {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 1100px) {
  .left-feed-profile-container {
    margin: 0;
    flex: 0.4;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 412px) {
  .left-feed-profile-container {
    margin-left: 6rem;
  }
}

.left-feed-profile-container > div {
  border-radius: 0.5rem;
  border: 1px solid #e0dfdc;
  background-color: white;
}

.left-feed-profile-container > div:first-child {
  margin-bottom: 0.5rem;
}

.left-feed-profile {
  font-weight: 500;
}

.left-feed-profile > div:nth-child(3),
.left-feed-profile > div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.left-feed-profile > div:nth-child(3) {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.left-feed-profile > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.left-feed-profile-background {
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#a0b4b7 50%, #fff 50%);
}

.left-feed-profile-deatils {
  padding: 0.75rem 0.75rem 1rem;
}

.left-feed-profile-img-container {
  height: 4.5rem;
  width: 4.5rem;
}

.left-feed-profile-img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #fff;
}

.left-feed-profile-name {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.left-feed-profile-background:hover + .left-feed-profile-name,
.left-feed-profile-name:hover,
.left-feed-profile-ul > li:hover {
  text-decoration: underline;
  text-decoration-color: #0a66c2;
}

.left-feed-profile-name p,
.left-feed-profile-area p {
  margin: 0;
}

.left-feed-profile-area {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.25rem;
}

.left-feed-profile-item-first {
  margin: 0.75rem 0;
  padding: 0.25rem 0.75rem;
}

.left-feed-profile-item {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.left-feed-profile-item-first,
.left-feed-profile-item {
  width: 100%;
  font-size: 12px;
}

.left-feed-profile-item-first:hover,
.left-feed-profile-item:hover,
.left-feed-profile-btn-discover:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.left-feed-profile-connection {
  display: flex;
  justify-content: space-between;
}

.text-dark-e6 {
  color: rgba(0, 0, 0, 0.9);
}

.text-dark-99 {
  color: rgba(0, 0, 0, 0.6);
}

.text-blue-c2 {
  color: #0a66c2;
}

.left-feed-profile-item div .bi.bi-bookmark-fill {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.left-feed-profile-ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  color: #0a66c2;
  font-weight: 500;
  padding-left: 0.75rem;
}

.left-feed-profile-ul > li {
  padding: 0.25rem 0;
}

.left-feed-profile2 {
  padding-top: 0.5rem;
}

.left-feed-profile-event-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-feed-profile-btn-discover {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.left-feed-profile-item-square {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 0.15rem;
  background-image: linear-gradient(
    45deg,
    rgb(231, 163, 62) 50%,
    rgb(248, 199, 126) 50%
  );
}

.left-feed-profile-item div {
  display: flex;
  align-items: center;
}

.left-feed-profile-event-li .bi.bi-plus {
  color: rgba(0, 0, 0, 0.6);
}

.left-feed-profile-event-li .bi.bi-plus:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.left-feed-profile-img-container,
.left-feed-profile-name,
.left-feed-profile-item-first,
.left-feed-profile-item,
.left-feed-profile-ul > li,
.left-feed-profile-btn-discover {
  cursor: pointer;
}
