.app {
	background-color: #f3f2ef;
	display: flex;
	flex-direction: column;
	align-items: center;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.profileBody {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
